/*-----------------------------------------------------------------
[Blue skin stylesheet]

Project:    Dynasty - Responsive Coming Soon Template
Version:    1.0
Autor:      -SitoWeb-
http://themeforest.net/user/-SitoWeb-


[Table of contents]

1. Background color
2. Text color
3. Border color
4. Long shadow color
5. Navigation menu icon color

[Color codes]

Light color:                #22A7F0 (Picton Blue)
Light color shadow:         #1F96D8
Light color hover shadow:   #1B86C0
Dark color:                 #1E8BC3 (Curious Blue)
Dark color shadow:          #1B7DB0
Dark color hover shadow:    #186F9C

-------------------------------------------------------------------
1. Background color
------------------------------------------------------------------- */
header .my-fa-icon, .countdown-section, .people .people-image-overlay .fa, button:hover, .ca-menu li, #external-links a .my-fa-icon {
    background-color: #22A7F0;
}

/*-----------------------------------------------------------------
2. Text color
------------------------------------------------------------------- */
.logo span, .info-box a, .info-box h1, #preloader, #title span strong, #about-page .fa, .about-mini-box-subtitle, .people .people-image-overlay h3, .people .people-title, button, #subscribe input, #contact-page .contact-box .contact-icon, .input-icon:before, #contact-page .contact-box input, #contact-page .contact-box textArea {
    color: #22A7F0;
}

/*-----------------------------------------------------------------
3. Border color
------------------------------------------------------------------- */
button {
    border: 1px solid #22A7F0;
}
.input-icon:before {
    border-right: 1px solid #22A7F0;
}
a.dynasty-link:hover, #subscribe input, #contact-page .contact-box input, #contact-page .contact-box textArea {
    border-bottom: 1px solid #22A7F0;
}

/*-----------------------------------------------------------------
4. Long shadow color
------------------------------------------------------------------- */
.shape, .countdown-section {
    text-shadow: 1px 1px #1F96D8, 2px 2px #1F96D8, 3px 3px #1F96D8, 4px 4px #1F96D8, 5px 5px #1F96D8, 6px 6px #1F96D8, 7px 7px #1F96D8, 8px 8px #1F96D8, 9px 9px #1F96D8, 10px 10px #1F96D8, 11px 11px #1F96D8, 12px 12px #1F96D8, 13px 13px #1F96D8, 14px 14px #1F96D8, 15px 15px #1F96D8, 16px 16px #1F96D8, 17px 17px #1F96D8, 18px 18px #1F96D8, 19px 19px #1F96D8, 20px 20px #1F96D8, 21px 21px #1F96D8, 22px 22px #1F96D8, 23px 23px #1F96D8, 24px 24px #1F96D8, 25px 25px #1F96D8, 26px 26px #1F96D8, 27px 27px #1F96D8, 28px 28px #1F96D8, 29px 29px #1F96D8, 30px 30px #1F96D8, 31px 31px #1F96D8, 32px 32px #1F96D8, 33px 33px #1F96D8, 34px 34px #1F96D8, 35px 35px #1F96D8, 36px 36px #1F96D8, 37px 37px #1F96D8, 38px 38px #1F96D8, 39px 39px #1F96D8, 40px 40px #1F96D8, 41px 41px #1F96D8, 42px 42px #1F96D8, 43px 43px #1F96D8, 44px 44px #1F96D8, 45px 45px #1F96D8, 46px 46px #1F96D8, 47px 47px #1F96D8, 48px 48px #1F96D8, 49px 49px #1F96D8, 50px 50px #1F96D8, 51px 51px #1F96D8, 52px 52px #1F96D8, 53px 53px #1F96D8, 54px 54px #1F96D8, 55px 55px #1F96D8, 56px 56px #1F96D8, 57px 57px #1F96D8, 58px 58px #1F96D8, 59px 59px #1F96D8, 60px 60px #1F96D8, 61px 61px #1F96D8, 62px 62px #1F96D8, 63px 63px #1F96D8, 64px 64px #1F96D8, 65px 65px #1F96D8, 66px 66px #1F96D8, 67px 67px #1F96D8, 68px 68px #1F96D8, 69px 69px #1F96D8, 70px 70px #1F96D8, 71px 71px #1F96D8, 72px 72px #1F96D8, 73px 73px #1F96D8, 74px 74px #1F96D8, 75px 75px #1F96D8;
}
.shape:hover {
    text-shadow: 1px 1px #1B86C0, 2px 2px #1B86C0, 3px 3px #1B86C0, 4px 4px #1B86C0, 5px 5px #1B86C0, 6px 6px #1B86C0, 7px 7px #1B86C0, 8px 8px #1B86C0, 9px 9px #1B86C0, 10px 10px #1B86C0, 11px 11px #1B86C0, 12px 12px #1B86C0, 13px 13px #1B86C0, 14px 14px #1B86C0, 15px 15px #1B86C0, 16px 16px #1B86C0, 17px 17px #1B86C0, 18px 18px #1B86C0, 19px 19px #1B86C0, 20px 20px #1B86C0, 21px 21px #1B86C0, 22px 22px #1B86C0, 23px 23px #1B86C0, 24px 24px #1B86C0, 25px 25px #1B86C0, 26px 26px #1B86C0, 27px 27px #1B86C0, 28px 28px #1B86C0, 29px 29px #1B86C0, 30px 30px #1B86C0, 31px 31px #1B86C0, 32px 32px #1B86C0, 33px 33px #1B86C0, 34px 34px #1B86C0, 35px 35px #1B86C0, 36px 36px #1B86C0, 37px 37px #1B86C0, 38px 38px #1B86C0, 39px 39px #1B86C0, 40px 40px #1B86C0, 41px 41px #1B86C0, 42px 42px #1B86C0, 43px 43px #1B86C0, 44px 44px #1B86C0, 45px 45px #1B86C0, 46px 46px #1B86C0, 47px 47px #1B86C0, 48px 48px #1B86C0, 49px 49px #1B86C0, 50px 50px #1B86C0, 51px 51px #1B86C0, 52px 52px #1B86C0, 53px 53px #1B86C0, 54px 54px #1B86C0, 55px 55px #1B86C0, 56px 56px #1B86C0, 57px 57px #1B86C0, 58px 58px #1B86C0, 59px 59px #1B86C0, 60px 60px #1B86C0, 61px 61px #1B86C0, 62px 62px #1B86C0, 63px 63px #1B86C0, 64px 64px #1B86C0, 65px 65px #1B86C0, 66px 66px #1B86C0, 67px 67px #1B86C0, 68px 68px #1B86C0, 69px 69px #1B86C0, 70px 70px #1B86C0, 71px 71px #1B86C0, 72px 72px #1B86C0, 73px 73px #1B86C0, 74px 74px #1B86C0, 75px 75px #1B86C0;
}

/*-----------------------------------------------------------------
5. Navigation menu icon color
------------------------------------------------------------------- */
.ca-icon{
    background-color: #1E8BC3;
    text-shadow: 1px 1px #1B7DB0, 2px 2px #1B7DB0, 3px 3px #1B7DB0, 4px 4px #1B7DB0, 5px 5px #1B7DB0, 6px 6px #1B7DB0, 7px 7px #1B7DB0, 8px 8px #1B7DB0, 9px 9px #1B7DB0, 10px 10px #1B7DB0, 11px 11px #1B7DB0, 12px 12px #1B7DB0, 13px 13px #1B7DB0, 14px 14px #1B7DB0, 15px 15px #1B7DB0, 16px 16px #1B7DB0, 17px 17px #1B7DB0, 18px 18px #1B7DB0, 19px 19px #1B7DB0, 20px 20px #1B7DB0, 21px 21px #1B7DB0, 22px 22px #1B7DB0, 23px 23px #1B7DB0, 24px 24px #1B7DB0, 25px 25px #1B7DB0, 26px 26px #1B7DB0, 27px 27px #1B7DB0, 28px 28px #1B7DB0, 29px 29px #1B7DB0, 30px 30px #1B7DB0, 31px 31px #1B7DB0, 32px 32px #1B7DB0, 33px 33px #1B7DB0, 34px 34px #1B7DB0, 35px 35px #1B7DB0, 36px 36px #1B7DB0, 37px 37px #1B7DB0, 38px 38px #1B7DB0, 39px 39px #1B7DB0, 40px 40px #1B7DB0, 41px 41px #1B7DB0, 42px 42px #1B7DB0, 43px 43px #1B7DB0, 44px 44px #1B7DB0, 45px 45px #1B7DB0, 46px 46px #1B7DB0, 47px 47px #1B7DB0, 48px 48px #1B7DB0, 49px 49px #1B7DB0, 50px 50px #1B7DB0, 51px 51px #1B7DB0, 52px 52px #1B7DB0, 53px 53px #1B7DB0, 54px 54px #1B7DB0, 55px 55px #1B7DB0, 56px 56px #1B7DB0, 57px 57px #1B7DB0, 58px 58px #1B7DB0, 59px 59px #1B7DB0, 60px 60px #1B7DB0;
}
.ca-menu li:hover .ca-icon{
    text-shadow: 1px 1px #186F9C, 2px 2px #186F9C, 3px 3px #186F9C, 4px 4px #186F9C, 5px 5px #186F9C, 6px 6px #186F9C, 7px 7px #186F9C, 8px 8px #186F9C, 9px 9px #186F9C, 10px 10px #186F9C, 11px 11px #186F9C, 12px 12px #186F9C, 13px 13px #186F9C, 14px 14px #186F9C, 15px 15px #186F9C, 16px 16px #186F9C, 17px 17px #186F9C, 18px 18px #186F9C, 19px 19px #186F9C, 20px 20px #186F9C, 21px 21px #186F9C, 22px 22px #186F9C, 23px 23px #186F9C, 24px 24px #186F9C, 25px 25px #186F9C, 26px 26px #186F9C, 27px 27px #186F9C, 28px 28px #186F9C, 29px 29px #186F9C, 30px 30px #186F9C, 31px 31px #186F9C, 32px 32px #186F9C, 33px 33px #186F9C, 34px 34px #186F9C, 35px 35px #186F9C, 36px 36px #186F9C, 37px 37px #186F9C, 38px 38px #186F9C, 39px 39px #186F9C, 40px 40px #186F9C, 41px 41px #186F9C, 42px 42px #186F9C, 43px 43px #186F9C, 44px 44px #186F9C, 45px 45px #186F9C, 46px 46px #186F9C, 47px 47px #186F9C, 48px 48px #186F9C, 49px 49px #186F9C, 50px 50px #186F9C, 51px 51px #186F9C, 52px 52px #186F9C, 53px 53px #186F9C, 54px 54px #186F9C, 55px 55px #186F9C, 56px 56px #186F9C, 57px 57px #186F9C, 58px 58px #186F9C, 59px 59px #186F9C, 60px 60px #186F9C;
}